.header {
  background-color: #fff;
  box-shadow: 0 0.01rem 0.5rem #ddd;
  width: 100%;
}

.header .visible-sm {
  display: initial !important;
}

.header .hidden-sm {
  display: none !important;
}

.header .content {
  align-items: center;
  display: flex;
  height: 4rem;
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1rem;
}

.header .brand {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  margin-right: 5rem;
}

.header .brand a {
  align-items: center;
  color: #282828;
  display: flex;
  text-decoration: none;
}

.header .logo {
  color: #f00;
  font-size: 1.6rem;
  margin-right: 0.2rem;
}

.header button {
  border: none;
  color: #828282;
  cursor: pointer;
  outline: none;
}

.header button:focus,
.header button:hover {
  color: #333;
}

.header .icon-button {
  background-color: transparent;
  font-size: 1.6rem;
}

.header .submit-button {
  background-color: #f8f8f8;
  border-left: 0.0625rem solid #ddd;
  border-radius: 0;
  width: 4.6875rem;
}

.header .submit-button:focus,
.header .submit-button:hover {
  background-color: #f0f0f0;
}

.header .search-form {
  border: 0.0625rem solid #ddd;
  border-radius: 0.125rem;
  display: flex;
  width: 100%;
}

.header .search-form input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: normal;
  padding: 0.4rem 0.7rem;
  width: 100%;
}

.header .back-button {
  margin-right: 1rem;
}

.header .search-button {
  margin-left: auto;
}

@media (min-width: 62em) {
  .header .visible-md {
    display: inherit !important;
  }

  .header .hidden-md {
    display: none !important;
  }

  .header form,
  .header input {
    max-width: 37.5rem;
    width: 37.5rem;
  }
}
